@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');


*{
    font-family: "agbalumo";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

.switch {
    background: rgba(117, 147, 238, 1);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    width: 90px;
    height: 35px;

}

.switch span {
    width: 50px;
    height: 50px;
    line-height: 30px;
    display: block;
    background: none;
    color: black;
}

.switch::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: white;
    top: -5px;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}


.switch.active::before {
    background-color: rgba(242, 232, 131, 1);
    color: black;
    right: 0;
    left: unset;
}
    

body.active .inicio .contenido-seccion .logo{

    color: rgb(7, 0, 0);

}

body.active .inicio .info h1{
    color: rgb(10, 0, 0);

}

body.active .inicio .info h2 {
    color: rgb(0, 0, 0);

}

body.active .sobremi  {
    background-color: #060753;
    color: #fff;
}


body.active .sobremi p{
    color:#fff
}

body.active .sobremi .especial{
    color: #fff;
}

body.active .experiencia {
    background-color: #060753;
    color: #fff;
}

body.active .contacto {
    background-color: #060753;
    font-family: Josefin Sans;
    color: white;

}

body.active .contacto h2 {
    
    font-family: Roboto Mono;
    
}

body.active .contacto button {
    border: 2px solid white;
    color: white;
}



body.active .footer {
    background-color: rgba(31, 26, 65, 1);
    color: white;
}




html {
    scroll-behavior: smooth;
}

.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url(img/mujer-tomando-notas-su-computadora-portatil.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;

}


.navbar {
    width: 100%;
  
}


.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
     
}


.menu li {
    list-style: none;
    text-decoration: none;

}

.menu a {
    color:black;
    text-decoration: none;
    font-family: Noto Sans;
    font-size: 23px;
    font-weight: bold;

}

.menu a:hover{
    background-color: rgba(255, 228, 196, 0.432);
    color: black;
    transition: ease-in .4s;
}

.nav-responsive{
    width: 20px;
    padding: 5px 10px;
    Position: block;
    border-radius: 5px;
    cursor: pointer;
}


.nav-responsive:hover{
    box-shadow: 0 0 45px #fff;
    border-radius: 48%;
}

.switch {
    background: rgba(117, 147, 238, 1);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    width: 90px;
    height: 35px;

}


.switch span {
    width: 50px;
    height: 50px;
    line-height: 30px;
    display: block;
    background: none;
    color: black;
}

.switch::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: white;
    top: -5px;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);

}

.switch.active::before {
    background: rgba(242, 232, 131, 1);
    color: black;
    right: 0;
    left: unset;
}


.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font font-family: "crimson text";
    text-shadow: 0 0 35px #fff;
}

.inicio .contenido-seccion header .logo .color{
    color: rgb(214, 184, 241);
}

.inicio .contenido-seccion header .nav-bar{
    position:relative;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    transition: 3s;
}



.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}

.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}


.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}

.inicio .contenido-seccion .info .redes a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(238, 237, 237);
    color: rgb(214, 183, 243);
    border: 1px solid rgb(177, 123, 228);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    transform: .3s;
}

.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: rgb(200, 162, 235);
    box-shadow: 0 0 20 #fff;
}

.inicio .contenido-seccion .foto{
    position: relative;
}


.inicio .contenido-seccion .foto img{
    max-width: 250px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #b8b9f0;
    position: absolute;
    left: 40%;
    top: -100px;
    transform: translateX(0%);
}


/* ------ Seccion sobre mi */

.sobremi {
    background-color: rgb(219, 191, 243);
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
    font-family: "lexend";
}

.sobremi .contenido-seccion .especial{
    color: #000000;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Young Serif', serif;
}

.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: 'Young Serif', serif;;
}

.sobremi .contenido-seccion .fila{
   display: flex;
   margin-top: 30px;
   justify-content: space-between; 
}

.sobremi .contenido-seccion .fila .col{
    width: 30%;
}


.sobremi .contenido-seccion .fila .col i{
    color: #6e6fc7;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #3638ce;
    line-height: 40px;
    border-radius: 50%;
}

.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight:bold;
    margin: 8px;
}


/*-----SECCION XPERIENCIA*/


.experiencia {
    background-color: rgb(224, 200, 245);
    padding: 140px 0 100px 0;
    text-align: center;
    height: 600px;
}


.experiencia .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}



.experiencia .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}


.info-content p {
    font-size: 12px;
}


.experiencia .contenido-seccion .info{
    text-align: left;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.experiencia .contenido-seccion .info .col{
    width: 45%;
}

.experiencia .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #6e6fc7;
    font-weight: bold;
    border: 2px solid #8e8edf;
    padding: 10px;
}

.experiencia .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}

.experiencia .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #3638ce;
}

.experiencia .contenido-seccion .info .col table h3{
    margin-top: 10px;

}

.experiencia .contenido-seccion .info .col table h4{
    font-size: 20px;
    margin-bottom: 5px;
}


.experiencia .contenido-seccion .info .col table p{
    font-size: 14px;
    text-align: center;
}


.experiencia .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #3638ce;
    padding-left: 2px;
}

/* SECCION HABILIDADES*/

.habilidades{
    padding: 80px 0 10px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba( 0,0,0,.3)),
    url(img/alto-angulo-dibujo-mujer-escritorio-portatil.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    height: 350px;
    
}

.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}


.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}

.habilidades .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.habilidades .contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
}

.habilidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
}

.habilidades .contenido-seccion .barra{
    display: flex;
    border: 1px solid #6e6fc7;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

.habilidades .contenido-seccion .barra .e{
    background-color: #8e8edf;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

.da{
    width: 0%;
    animation: da 1.5s forwards;
}

@keyframes da{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.de{
    width: 0%;
    animation: da 1.5s forwards;
}

@keyframes de{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.di{
    width: 0%;
    animation: da 1.5s forwards;
}

@keyframes di{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.do{
    width: 0%;
    animation: da 1.5s forwards;
}

@keyframes do{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}


.contacto {
    background-color: rgb(255, 255, 255)55, 255, 255);
    width: 100%;
    height: 800px;
    padding-top: 70px;
    padding-left: 50px;

}

.contacto .fila {
    display: flex;
    justify-content: space-around;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;

}

.contacto .col input, .contacto .col textarea {

    display: block;
    width: 550px;
    padding: 18px;
    margin-bottom: 20px;
    color: black;
    font-size: 18px;

}

.contacto .col textarea {

    border: none;
    border-radius: 20px;
    background-color: rgb(212, 164, 240)

}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    width: fit-content;
    display: block;
    left: 200px;
    padding: 10px 22px;
    font-size: 16px;
    color: black;
    position: relative;
    z-index: 10;
}

.msjecontacto {
    width: 520px;
    height: auto;
    position: relative;
    margin-top: 120px;
}

.msjecontacto h2 {
    margin-bottom: 20px;
}
.msjecontacto h2,p {
   
    text-align: left;
    font-family: Moul;

}

.nuevop {
    font-family: Roboto Mono;
    position: absolute;
    margin-left: 2px;
}


.footer {

    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    flex-flow: column;
    padding-top: 70px;
    align-items: center;
    justify-content: space-around;
}

.footer p {
    width: 280px;
    height: 204px;
    font-family: Lilita One;
    font-size: 20px;
    position: relative;
    margin-top: 50px;
}

.footer button {
    width: 162px;
    height: 54px;7
    position: relative;
    top: -100px;
}

footer{
    background-color: rgb(229, 164, 235);
    width: 100%;
    height: 220px;
    font-family: Moul;
    padding-top: 60px;
    
}

footer .final {
    
    position: relative;
    left: 50px;
    
    
}


footer img{
    margin-top: 20px;
    width: 186px;
    height: 74px;
    border-radius: 150px;
}


/* SECCION RESPONSIVE*/

@media screen and (max-width 800px){
    header nav{
        display: none;
    }
    header .nav-responsive{
        display: block;
        position: absolute;
        
    }
}
{
    .habilidades .contenido-seccion .fila{
        display: block;
    }
}


.habilidades .contenido-seccion .fila .col{
    width: 100%;
    text-align: center;
}

.habilidades .contenido-seccion .fila .col .cont-barra{
    justify-content: center;
}

.sobremi .contenido-seccion .fila{
    display: block;
}

.sobremi .contenido-seccion .fila .col{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.experiencia{
    height: 800px;
}
.experiencia .contenido-seccion .info{
    display: block;
}

.experiencia .contenido-seccion .info .col{
    width: 90%;
    margin: auto;
}

.experiencia .contenido-seccion .info .col .titulo{
    display: block;
    text-align: center;
}


.experiencia .contenido-seccion .info .col table{
    margin-top: 10px;
    margin-bottom: 30px;
}

.inicio .menu a{
    font-size: 18px;
    width: 100%;
}





